@{
    ViewData["Title"] = "Home";
}

<div class="search input-group mb-3">
    <input type="text" class="search-input form-control" placeholder="Procurar" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-dark" type="button" id="button-addon2">Procurar</button>
    </div>
</div>

<h2 class="category-title">Acao</h2>
<div class="card-group">
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Title</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Title</h6>
        </div>
    </div>
</div>

<h2 class="category-title">Aventura</h2>
<div class="card-group">
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Boku no Hero Academia</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Title</h6>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-100 d-block" src="https://unionleitor.top/assets/uploads/mangas/3a695b06.jpg" />
        <div class="card-body">
            <h6 class="card-title">Title</h6>
        </div>
    </div>
</div>