@{
    ViewData["Title"] = "Home";
}
@model List<Category>;

<div class="search input-group mb-3">
    <input type="text" class="search-input form-control" placeholder="Procurar" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-dark" type="button" id="button-addon2">Procurar</button>
    </div>
</div>

@foreach (var category in Model)
{
    <h2 class="category-title">@category.Name</h2>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top w-100 d-block" src="~/images/capa-vazia.png" />
            <div class="card-body">
                <h6 class="card-title">asdfasdfasdfasdfasdfsadf</h6>
            </div>
        </div>
    </div>
}



