@{
    ViewData["Title"] = "Home";
}
@model HomeViewModel;

<div class="search input-group mb-3">
    <input type="text" class="search-input form-control" placeholder="Procurar" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-dark" type="button" id="button-addon2">Procurar</button>
    </div>
</div>

@foreach (var category in Model.Categories)
{
    <h2 class="category-title">@category.Name</h2>

    <div class="card-group">

        @foreach (var comic in category.Comics)
        {
            <div class="card">

                @{
                    var apiUri = new Uri(Model.BaseApiUri, comic.Cover);
                }
                <a asp-controller="home" asp-action="comic" asp-route-comicid="@comic.Id">
                    <img class="card-img-top w-100 cover-image d-block" src="@apiUri.ToString()" />
                    <div class="card-body">
                        <h6 class="card-title">@comic.Title</h6>
                    </div>
                </a>
            </div>
        }

    </div>
}



